<%
  page_data(
    title: "Edit #{teacher_full_name(@teacher)}'s extension",
    caption: teacher_full_name(@teacher),
    caption_size: 'm',
    backlink_href: ab_teacher_path(@teacher)
  )
%>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <%= govuk_link_to "Help on extensions", "#", target: "_blank" %>

    <p class="govuk-body">
      Only tell us about an extension if the ECT has finished their expected induction period and has been assessed by a school induction tutor or headteacher. The ECT can appeal an extension. You'll need to tell them about their right to appeal and the process.
    </p>

    <p class="govuk-body">You do not need to add an extension for things like:</p>

    <%= govuk_list([
      "extended sick leave",
      "maternity or paternity pay",
      "statutory adoption leave",
      "shared parental leave",
      "parental bereavement leave",
      "unpaid carer's leave"
    ], type: :bullet) %>

    <%= form_with(
      model: @extension,
      url: ab_teacher_extension_path(@teacher, @extension),
      method: :patch,
      local: true
    ) do |f| %>
      <%= content_for(:error_summary) { f.govuk_error_summary } %>

      <h2 class="govuk-heading-m">How many terms do you want to extend <%= teacher_full_name(@teacher) %>'s induction by in total?</h2>

      <p class="govuk-body">Current extension is <%= @extension.number_of_terms %> terms.</p>

      <%= f.govuk_number_field(
        :number_of_terms,
        label: { text: "FTE terms", size: "s" },
        width: 5,
        min: 0.1,
        max: 12.0,
        step: 0.1,
        hint: { text: "Use up to one decimal place if the term is not a whole number. If the current extension is 1.0 terms and you want to add another 1.5 terms, then enter 2.5" }
      ) %>

      <%= f.govuk_submit "Save changes" %>
    <% end %>
  </div>
</div>
