<%
  page_data(
    title: "Add an extension to #{teacher_full_name(@teacher)}'s induction",
    caption: teacher_full_name(@teacher),
    caption_size: 'm',
    backlink_href: ab_teacher_path(@teacher)
  )
%>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <p class="govuk-body">
      Only tell us about an extension if the ECT has finished their expected induction period and has been assessed by a school induction tutor or headteacher. The ECT can appeal an extension, so you'll need to tell them about their right to appeal and the process.
    </p>

    <p class="govuk-body">You do not need to add an extension for things like:</p>

    <%= govuk_list([
      "extended sick leave",
      "maternity or paternity pay",
      "statutory adoption leave",
      "shared parental leave",
      "parental bereavement leave",
      "unpaid carer's leave"
    ], type: :bullet) %>

    <h2 class="govuk-heading-m">How many terms do you want to extend <%= teacher_full_name(@teacher) %>'s induction by?</h2>

    <%= form_with(
      model: @extension,
      url: ab_teacher_extensions_path(@teacher),
      local: true
    ) do |f| %>
      <%= content_for(:error_summary) { f.govuk_error_summary } %>

      <%= f.govuk_number_field(
        :number_of_terms,
        width: 5,
        label: { text: 'FTE terms', size: 's' },
        hint: { text: "Use up to one decimal place if the term is not a whole number. For example, for 2 and a half terms enter 2.5" }
      ) %>

      <%= f.govuk_submit "Save and add extension" %>
    <% end %>
  </div>
</div>
