<%
  page_data(
    title: "How many terms do you want to extend #{Teachers::Name.new(@teacher).full_name}’s induction by?",
    caption: Teachers::Name.new(@teacher).full_name,
    caption_size: 'm',
    backlink_href: ab_teacher_path(@teacher)
  )
%>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <p class="govuk-body">
      You can only extend their induction if it has been assessed by a school induction tutor or headteacher.
    </p>

    <p class="govuk-body">You do not need to extend for things like:</p>

    <ul class="govuk-list govuk-list--bullet">
        <li>extended sick leave</li>
        <li>maternity or paternity leave</li>
        <li>statutory adoption leave</li>
        <li>shared parental leave</li>
        <li>parental bereavement leave</li>
      <li>unpaid carer’s leave</li>
    </ul>

    <p class="govuk-body">
      <%= Teachers::Name.new(@teacher).full_name %> can appeal an extension to their induction. You must tell them about their right to appeal and the appeal process.
    </p>

    <%= form_with(
      model: @extension,
      url: ab_teacher_extensions_path(@teacher),
      local: true
    ) do |f| %>
      <%= content_for(:error_summary) { f.govuk_error_summary } %>

      <%= f.govuk_number_field(
        :number_of_terms,
        width: 5,
        label: { text: 'Enter number of terms', size: 'm' },
        hint: { text: "You can use up to one decimal place if the induction term is not a whole number. For example, for 2 and a half terms enter 2.5." }
      ) %>

      <%= f.govuk_submit "Continue" %>
    <% end %>
  </div>
</div>
