<% page_data(
    title: "Change name for #{@wizard.teacher_full_name}",
    error: @wizard.ect_at_school_period.errors.present?,
    backlink_href: schools_ect_path(@ect_at_school_period),
) %>

<p class="govuk-body">The name will be used in this service and communications with the ECT.</p>

<p class="govuk-body">The ECT can update their name in their teacher record using the Access your teaching qualifications service.</p>

<%= form_with(model: @wizard.current_step, url: @wizard.current_step_path) do |f| %>
  <%= content_for(:error_summary) { f.govuk_error_summary } %>

  <%=
    f.govuk_text_field(
      :name,
      label: { text: "What’s the correct full name for #{@wizard.teacher_full_name}?",
               tag: 'h2',
               size: 'm' }
    ) do %>
  <% end %>

  <%= f.govuk_submit 'Continue' %>
<% end %>

<p class="govuk-body">
  <%= govuk_link_to "Cancel and go back to #{@wizard.teacher_full_name}’s details", schools_ect_path(@ect_at_school_period) %>
</p>