<% page_data(
  title: "Check details for #{pending_induction_submission_full_name(@pending_induction_submission)}",
  caption: "TRN: #{@pending_induction_submission.trn}",
  header: "View #{pending_induction_submission_full_name(@pending_induction_submission)}'s details",
  backlink_href: new_admin_appropriate_body_claim_an_ect_find_path(@appropriate_body))
%>

<%= render Admin::ClaimECTActionsComponent.new(
  teacher: @teacher,
  pending_induction_submission: @pending_induction_submission,
  appropriate_body: @appropriate_body
) %>

<h2 class="govuk-heading-m">Personal details</h2>

<%=
  govuk_summary_list do |sl|
    sl.with_row do |r|
      r.with_key(text: "First name")
      r.with_value(text: @pending_induction_submission.trs_first_name)
    end

    sl.with_row do |r|
      r.with_key(text: "Last name")
      r.with_value(text: @pending_induction_submission.trs_last_name)
    end

    sl.with_row do |r|
      r.with_key(text: "Date of birth")
      r.with_value(text: @pending_induction_submission.date_of_birth.to_fs(:govuk))
    end

    sl.with_row do |r|
      r.with_key(text: "Has alerts")
      r.with_value(text: trs_alerts_text(@pending_induction_submission.trs_alerts.present?) )
    end
  end
%>

<h2 class="govuk-heading-m">Initial teacher training details</h2>

<%=
  govuk_summary_list do |sl|
    sl.with_row do |r|
      r.with_key(text: "QTS awarded")
      r.with_value(text: @pending_induction_submission.trs_qts_awarded_on.to_fs(:govuk))
    end if @pending_induction_submission.trs_qts_awarded_on.present?

    sl.with_row do |r|
      r.with_key(text: "QTS status description")
      r.with_value(text: @pending_induction_submission.trs_qts_status_description)
    end if @pending_induction_submission.trs_qts_status_description.present?

    sl.with_row do |r|
      r.with_key(text: "Initial teacher training provider")
      r.with_value(text: @pending_induction_submission.trs_initial_teacher_training_provider_name)
    end if @pending_induction_submission.trs_initial_teacher_training_provider_name.present?

    sl.with_row do |r|
      r.with_key(text: "Initial teacher training end date")
      r.with_value(text: @pending_induction_submission.trs_initial_teacher_training_end_date&.to_fs(:govuk))
    end if @pending_induction_submission.trs_initial_teacher_training_end_date.present?
  end
%>

<h2 class="govuk-heading-m">Induction details</h2>

<%=
  govuk_summary_list do |sl|
    sl.with_row do |r|
      r.with_key(text: "Induction start date")
      r.with_value(text: @pending_induction_submission.trs_induction_start_date&.to_fs(:govuk))
    end if @pending_induction_submission.trs_induction_start_date.present?

    sl.with_row do |r|
      r.with_key(text: "Induction status")
      r.with_value(
        text: govuk_tag(
          **induction_status_from(
            teacher: @teacher,
            pending_induction_submission: @pending_induction_submission
          ).status_tag_kwargs
        )
      )
    end if @pending_induction_submission.trs_induction_status.present?

    if show_extensions_row?(@teacher)
      sl.with_row do |r|
        r.with_key(text: "Extensions")
        r.with_value(text: induction_extensions(@teacher).formatted_number_of_terms)
      end
    end
  end
%>

<% if @teacher.present? %>
  <%= render Teachers::DetailsComponent.new(mode: :admin, teacher: @teacher) do |component|
    component.with_current_induction_period
    component.with_past_induction_periods
  end %>
<% end %>
