<% page_data(
    title: @wizard.current_step.heading_title,
    header: false
) %>

<%= govuk_panel(title_text: @wizard.current_step.heading_title) %>

<h2 class="govuk-heading-m">What happens next</h2>

<p class="govuk-body"><%= @wizard.current_step.assigned_ects_message %></p>

<% if @wizard.current_step.training_message %>
  <p class="govuk-body govuk-!-font-weight-bold"><%= @wizard.current_step.training_heading %></p>
  <p class="govuk-body"><%= @wizard.current_step.training_message %></p>
<% end %>

<p class="govuk-body"><%= @wizard.current_step.notification_message %></p>

<p class="govuk-body">
  <%= govuk_link_to(
        "Back to Mentors",
        schools_mentors_home_path,
        no_visited_state: true
      ) %>
</p>
