<% 
  page_data(
    title: "Mentors", 
    error: false, 
    caption: @school.name, 
    caption_size: 'l'
  ) 
%>

<p class="govuk-body">To add a new mentor you need to <%= govuk_link_to("assign one to an ECT", schools_ects_home_path) %>.</p>

<hr class="govuk-section-break--m" />

<div class="govuk-grid-row">
  <% if @mentors.present? %>
  
    <div class='govuk-grid-column-two-thirds'>

      <div class="app-search ">
        <%= form_with method: :get do |f| %>
          <div class="govuk-form-group">
            <%= f.govuk_text_field(
            :q,
            value: params[:q],
            label: { text: "Search by name or teacher reference number (TRN)", size: "s" }
            ) %>
          </div>
          <%= f.govuk_submit "Search", class: "govuk-button--secondary app-search__button" %>
        <% end %>
      </div>
      <% @mentors.map do |mentor| %>
        <%= render Schools::Mentors::SummaryComponent.new(mentor: mentor, school: @school) %>
      <% end %>

      <%= govuk_pagination pagy: @pagy %>
    </div>

  <% else %>

    <div class='govuk-grid-column-two-thirds'>
      <p class="govuk-body">Your school currently has no registered mentors.</p>
    </div>

  <% end %>
</div>
