<% page_data(
  title: teacher_full_name(@teacher),
  caption: "TRN: #{@teacher.trn}",
  header: teacher_full_name(@teacher),
  backlink_href: schools_mentors_home_path
) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <%= render Schools::Mentors::DetailsComponent.new(
      teacher: @teacher,
      mentor: @mentor
    ) %>

    <%= render Schools::Mentors::ECTMentorTrainingDetailsComponent.new(
      teacher: @teacher,
      mentor: @mentor
    ) %>

    <% if @mentor.leaving_today_or_in_future? %>
        <h2 class="govuk-heading-m"><%= "#{teacher_full_name(@teacher)} is leaving your school" %></h2>

        <p class="govuk-body">
          You’ve told us <%= teacher_full_name(@teacher) %> is leaving your school on 
          <%= @mentor.finished_on.to_fs(:govuk) %>.
          You will not be able to view or edit <%= teacher_full_name(@teacher) %>’s details after 
          <%= @mentor.finished_on.to_fs(:govuk) %>.
        </p>
      <% else %>
        <h2 class="govuk-heading-m">
          Tell us if <%= teacher_full_name(@teacher) %> has left or is leaving your school permanently
        </h2>

        <p class="govuk-body">
          We need to know if <%= teacher_full_name(@teacher) %> is leaving your school and not expected to return.
        </p>

        <p class="govuk-body">
          You do not need to tell us if <%= teacher_full_name(@teacher) %> is leaving but expected to return, 
          for example, if they’re taking parental leave. You should, however, tell their training provider 
          (if they’re on a provider-led programme).
        </p>

        <%= govuk_link_to(
              "Tell us if #{teacher_full_name(@teacher)} is leaving permanently",
              schools_mentors_teacher_leaving_wizard_edit_path(@mentor),
              no_visited_state: true
            ) %>.
      <% end %>
  </div>
</div>
