<% page_data(
    title: "Which appropriate body will be supporting #{@ect.full_name}'s induction?",
    error: @wizard.current_step.errors.present?,
    backlink_href: @wizard.previous_step_path,
) %>

<p class="govuk-body">Appropriate bodies are responsible for assuring the quality of the statutory induction of ECTs.</p>

<p class="govuk-body">We share the ECT's details with the appropriate body to check the ECT has been registered correctly.</p>

<%= form_with(model: @wizard.current_step, url: @wizard.current_step_path) do |f| %>
  <%= content_for(:error_summary) { f.govuk_error_summary } %>

  <%= f.govuk_radio_buttons_fieldset :appropriate_body_type, legend: { text: "What type of appropriate body will be supporting #{@ect.full_name}'s induction", hidden: true } do %>

    <%= f.govuk_radio_button :appropriate_body_type,
      :national,
      label: { text: AppropriateBody::ISTIP }, link_errors: true %>

    <%= f.govuk_radio_button :appropriate_body_type,
      :teaching_school_hub,
      label: { text: "A different appropriate body (teaching school hub)" } do %>

      <%= f.govuk_collection_select(:appropriate_body_id,
                                    appropriate_bodies_options_for_collection,
                                    :id,
                                    :name,
                                    label: { text: "Enter appropriate body name" },
                                    options: { include_blank: true },
                                    class: "autocomplete"
          ) %>
    <% end %>

    <%= render 'schools/register_ect_wizard/appropriate_body_details' %>
  <% end %>

  <%= f.govuk_submit "Continue" %>
<% end %>
