<% page_data(
    title: "Which lead provider will be training #{@ect.full_name}?",
    error: @wizard.current_step.errors.present?,
    backlink_href: @wizard.previous_step_path,
) %>

<p class="govuk-body">
Lead providers are responsible for creating the materials used for training ECTs and mentors.
</p>

<p class="govuk-body">
We will let the lead provider know your school wants to work with them so they can arrange training. They'll confirm which delivery partner they'll be working with to deliver training events.
</p>

<%= form_with(model: @wizard.current_step, url: @wizard.current_step_path) do |f| %>
  <%= content_for(:error_summary) { f.govuk_error_summary } %>

  <%= 
    f.govuk_collection_radio_buttons(:lead_provider_id,
                                @wizard.lead_providers,
                                :id,
                                :name,
                                legend: { 
                                  text: 'Select lead provider', 
                                  hidden: true 
                                }
    ) 
  %>

  <%= render 'schools/register_ect_wizard/lead_provider_details' %>

  <%= f.govuk_submit "Continue" %>
<% end %>


