<% page_data(title: "Programme choices used by your school previously",
             error: @wizard.current_step.errors.present?,
             backlink_href: @wizard.previous_step_path) %>

<p class="govuk-body">You used these programme choices the last time you registered an ECT.</p>

<%= govuk_summary_list do |summary_list|
  summary_list.with_row do |row|
    row.with_key(text: 'Appropriate body')
    row.with_value(text: appropriate_body_name(appropriate_body_type: @school.chosen_appropriate_body_type,
                                               appropriate_body: @school.chosen_appropriate_body))
  end

  summary_list.with_row do |row|
    row.with_key(text: 'Programme type')
    row.with_value(text: programme_type_name(@school.chosen_programme_type))
  end

  if @school.provider_led_programme_type_chosen?
    summary_list.with_row do |row|
      row.with_key(text: 'Lead provider')
      row.with_value(text: @school.chosen_lead_provider_name)
    end
  end
end %>

<p class="govuk-body"><%= @school.chosen_lead_provider_name %> will confirm if they'll be working with your school and which delivery partner will deliver training events.</p>

<%= form_with(model: @wizard.current_step, url: @wizard.current_step_path) do |f| %>
  <%= content_for(:error_summary) { f.govuk_error_summary } %>

  <%= f.govuk_radio_buttons_fieldset :use_previous_ect_choices,
                                     legend: { text: "Do you want to use the same choices for #{@ect.full_name}?" },
                                     inline: true do %>
    <%= f.govuk_radio_button :use_previous_ect_choices, :true, label: { text: "Yes" }, link_errors: true %>
    <%= f.govuk_radio_button :use_previous_ect_choices, :false, label: { text: "No" } %>
  <% end %>

  <div class="govuk-!-margin-top-5">
    <%= govuk_details(summary_text: 'What are the roles of an appropriate body, lead provider and delivery partner?') do %>
      <p class="govuk-body">
        An appropriate body is responsible for assuring the quality of the statutory induction of ECTs. A lead provider provides the online learning platform used for training ECTs and mentors, while the delivery partner delivers training events.
      </p>

      <p class="govuk-body">
        These roles are sometimes undertaken by the same organisation, for example an appropriate body might be the same organisation as the delivery partner.
      </p>
    <% end %>
  </div>


  <%= f.govuk_submit "Continue" %>
<% end %>

