<% page_data(
     title: "Which appropriate body will be supporting #{@ect.full_name}'s induction?",
     error: @wizard.current_step.errors.present?,
     backlink_href: schools_register_ect_wizard_start_date_path) %>


<p class="govuk-body">Appropriate bodies are responsible for assuring the quality of the statutory induction of
  ECTs.</p>

<p class="govuk-body">We share the ECT's details with the appropriate body to check the ECT has been registered
  correctly.</p>

<%= form_with(model: @wizard.current_step, url: @wizard.current_step_path) do |f| %>
  <%= content_for(:error_summary) { f.govuk_error_summary } %>

  <%= f.govuk_radio_buttons_fieldset :appropriate_body_type, legend: { text: "What type of appropriate body will be supporting #{@ect.full_name}'s induction", hidden: true } do %>
    <%= f.govuk_radio_button :appropriate_body_type, :ISTIP, label: { text: "Independent Schools Teacher Induction Panel (ISTIP)" }, link_errors: true %>
    <%= f.govuk_radio_button :appropriate_body_type, :teaching_school_hub, label: { text: "Teaching school hub" } do %>
      <%= f.govuk_collection_select(:appropriate_body_name,
                                    @wizard.appropriate_bodies,
                                    :name,
                                    :name,
                                    label: { text: "Which appropriate body will be supporting #{@ect.full_name}'s induction?", size: 's', hidden: true },
                                    options: { include_blank: true },
                                    class: "autocomplete"
          ) %>
    <% end %>

    <%= render Teachers::AppropriateBodiesDetails.new %>
  <% end %>

  <%= f.govuk_submit "Continue" %>
<% end %>


