<% page_data(
    title: "Tell us your induction tutor",
    error: @wizard.school.errors.present?
) %>

<p class="govuk-body">Our records show that your school does not have an induction tutor.</p>
<p class="govuk-body">You need to have an induction tutor to set up and manage the early career teacher entitlement (ECTE) 
at your school. The induction tutor will be your primary contact for the DfE and your ECTE providers and partners.</p>
<p class="govuk-body">Read our guidance 
<%= govuk_link_to("on school induction tutor responsibilities (opens in a new tab)", 
"https://www.gov.uk/government/publications/early-career-teacher-entitlement-roles-and-responsibilities/induction-tutors-responsibilities-for-early-career-teacher-entitlement", 
target: "_blank" )%>.
</p>


<%= form_with(model: @wizard.current_step, url: @wizard.current_step_path) do |f| %>
  <%= content_for(:error_summary) { f.govuk_error_summary } %>

    <h2 class="govuk-heading-m">Enter your school’s induction tutor details</h2>
    <%= f.govuk_text_field :induction_tutor_name,
                            label: {
                              text: "Full name"
                            }
                          %>
    <%= f.govuk_text_field :induction_tutor_email,
                            label: {
                              text: "Email"
                            },
                            hint: {
                              text: "Do not use a generic email like headteacher@school.com"
                            } %>

  <%= f.govuk_submit 'Continue' %>
<% end %>
