<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h2 class="govuk-heading-m">
      Check records and claim an ECT
    </h2>
    <p class="govuk-body">
      The school has told us that you are the AB for these ECTs.
      You can check the records and claim the ECTs induction.
    </p>
  </div>
</div>
<%= render AppropriateBodies::CardContainerComponent.new do %>
  <div class="govuk-grid-column-one-third">
  <%= render Shared::ActionCountCardComponent.new(
    url: ab_unclaimed_claimable_index_path,
    count: number_of_claimable_ect_records,
    description: "Check and claim ECT",
    colour: "grey-and-blue"
  ) %>
  </div>
<% end %>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h2 class="govuk-heading-m">
      ECT records that may need action
    </h2>
    <p class="govuk-body">
      These ECTs cannot be claimed yet.
      You may need to contact the school or another AB before these ECTs can be claimed.
    </p>
  </div>
</div>
<div class="govuk-!-margin-bottom-8">
<%= render AppropriateBodies::CardContainerComponent.new do %>
  <div class="govuk-grid-column-one-third">
  <%= render Shared::ActionCountCardComponent.new(
    url: ab_unclaimed_no_qts_path,
    count: number_of_missing_qts_records,
    description: "No QTS<br/>&nbsp;".html_safe,
    colour: "grey-and-blue"    
  ) %>
  </div>
  <div class="govuk-grid-column-one-third">
  <%= render Shared::ActionCountCardComponent.new(
    url: ab_unclaimed_claimed_by_another_index_path,
    count: number_of_records_claimed_by_another_appropriate_body,
    description: "Currently claimed by another AB",
    colour: "grey-and-blue"    
  ) %>
  </div>
<% end %>
</div>
