<!DOCTYPE html>
<%= govuk_html_element do %>
  <%= render partial: "layouts/shared/head" %>

  <body class="govuk-template__body" data-turbo="false">
    <div class="govuk-!-display-none-print">
      <%= render partial: "layouts/shared/header" %>
    </div>

    <div class="govuk-width-container">
      <div class="govuk-!-display-none-print">
        <%= render partial: "layouts/shared/banners" %>
        <%= render partial: "layouts/shared/schools_registration_window_banner" %>
        <%= render TimeTravellerComponent.new %>
        <%= render Admin::ImpersonationBannerComponent.new(user: current_user, school: @school) %>
        <%= yield(:backlink_or_breadcrumb) %>
      </div>

      <main class="govuk-main-wrapper" id="main-content" role="main">
        <%= render partial: "layouts/shared/main_preamble" %>

        <%= yield(:content) %>
        <%= yield(:test_guidance) %>
      </main>
    </div>

    <%= render partial: "layouts/shared/footer" %>
  </body>
<% end %>
