<%
  page_data(
    title: teacher_full_name(@teacher),
    caption: teacher_trn(@teacher),
    caption_size: 'm',
    error: false,
    backlink_href: admin_teachers_path(page: @page)
  )
%>

<% if admin_latest_induction_period_complete?(@teacher) %>
  <%= govuk_button_to "Reopen induction", admin_teacher_reopen_induction_path(@teacher), method: :put, warning: true %>
<% end %>

<%= render Teachers::DetailsComponent.new(mode: :admin, teacher: @teacher) do |component|
  component.with_induction_outcome_actions
  component.with_induction_summary
  component.with_current_induction_period(enable_edit: true, enable_delete: true)
  component.with_past_induction_periods(enable_edit: true)
end %>

<p class='govuk-body'>
  <%= govuk_link_to('View change history', admin_teacher_timeline_path(@teacher)) %>
</p>

<% if @teacher.induction_periods.none? %>
  <p class="govuk-body">
    <%= govuk_link_to("Add an induction period", new_admin_teacher_induction_period_path(@teacher)) %>
  </p>
<% end %>

<%= govuk_warning_text(text: "Some of this teacher's records could not be migrated") if @teacher.has_migration_failures? %>
