<h1 class='govuk-heading-l'>CSV file summary</h1>

<% if batch.no_valid_data? %>
  <p class='govuk-body'>
    Your CSV named '<%= batch.file_name %>' has <%= batch.pending_induction_submissions.with_errors.count %> ECTs with errors.
  </p>

  <p class='govuk-body'>
    <%= govuk_link_to 'Download CSV with error messages included', ab_batch_action_path(batch, format: :csv) %>.
    You'll need to fix these errors before you try again.
  </p>

  <p class='govuk-body'>
    <%= govuk_link_to 'Go back to your overview', ab_batch_actions_path %>
  </p>

<% else %>
  <p class='govuk-body'>
    Your CSV named '<%= batch.file_name %>' has <%= pluralize(batch.pending_induction_submissions.without_errors.count, 'ECT record') %> including:
  </p>

  <%= batch_action_summary(batch) %>

  <% if batch.pending_induction_submissions.with_errors.any? %>
    <p class='govuk-body'>
      You had <%= pluralize(batch.pending_induction_submissions.with_errors.count, 'ECT') %> with errors. 
      You can download a CSV with error messages included after you record your outcomes.
    </p>
  <% end %>

  <%= form_with(model: batch, url: ab_batch_action_path(batch), method: 'put') do |f| %>
    <%= content_for(:error_summary) { f.govuk_error_summary } %>
    <%= f.govuk_submit 'Record outcomes' %>
  <% end %>

  <p class='govuk-body'>
    <%= govuk_link_to 'Cancel and go back to your overview', ab_batch_actions_path %>
  </p>
<% end %>
