<% page_data(title: "Finance") %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    <h2 class="govuk-heading-m">
      <%= govuk_link_to(
            "Statements",
            admin_finance_statements_path,
            no_visited_state: true,
            no_underline: true
          ) %>
    </h2>

    <p class="govuk-body">
      Monthly record of payments made to lead providers.
    </p>

    <%= govuk_section_break(visible:true, size: "l") %>

    <h2 class="govuk-heading-m">
      <%= govuk_link_to(
            "Search declarations",
            admin_search_declarations_path,
            no_visited_state: true,
            no_underline: true
          ) %>
    </h2>

    <p class="govuk-body">
      Search for declarations by declaration ID.
    </p>

    <% if Rails.application.config.enable_finance_contract_periods %>
      <%= govuk_section_break(visible:true, size: "l") %>

      <h2 class="govuk-heading-m">
        <%= govuk_link_to(
              "Contract periods",
              admin_contract_periods_path,
              no_visited_state: true,
              no_underline: true
            ) %>
      </h2>

      <p class="govuk-body">
        View and manage contract periods.
      </p>
    <% end %>
  </div>
</div>
