<%
  page_data(
    title: "API guidance",
    header: "Lead provider guidance: early career training programme",
    header_classes: %w(x-govuk-masthead__title)
  )
%>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h2 class="govuk-heading-m">Release notes</h2>
    <p>
      We publish release notes whenever we make updates to the API such as new features, fixes, or improvements. This so lead providers know how the update might affect their use of the API.
    </p>
    <p><%= govuk_link_to("Browse all release notes", api_guidance_release_notes_path) %></p>

    <h3 class="govuk-caption-xl">23 June 2025</h3>
    <h3 class="govuk-heading-s">View financial statements in test environment</h3>
    <p><%= govuk_link_to("Lead providers can now check their financial statements in the API sandbox", "https://sandbox.register-early-career-teachers.education.gov.uk/api/docs/v3") %></p>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-third">
    <h2 class="govuk-heading-m">Technical documentation</h2>
    <p>
      These instructions and reference materials explain how to use our API, including its endpoints, data formats, and authentication.
    </p>
    <p><%= govuk_link_to("View our API technical documentation", api_guidance_page_path("technical-documentation")) %></p>
  </div>

  <div class="govuk-grid-column-one-third">
    <h2 class="govuk-heading-m">Sandbox</h2>
    <p>
      The sandbox environment is where lead providers can test API integrations without affecting real data.
    </p>
    <p><%= govuk_link_to("Use the lead provider sandbox", api_guidance_page_path("sandbox")) %></p>
  </div>

  <div class="govuk-grid-column-one-third">
    <h2 class="govuk-heading-m">Programme guidance</h2>
    <p>
      Find out what data lead providers need to submit to DfE, how to keep it up to date, and when to report changes about early career teachers and their mentors.
    </p>
    <p><%= govuk_link_to("View our programme guidance", api_guidance_page_path("early-career-training-programme-guidance")) %></p>
  </div>
</div>
