<% page_data(title: "Parity check run ##{@run.id}", breadcrumbs: @breadcrumbs) %>

<p>
  Run #<%= @run.id %> was a <strong><%= @run.mode %></strong> run that started 
  <strong><%= time_ago_in_words(@run.started_at) %> ago</strong> and took 
  <strong><%= distance_of_time_in_words(@run.started_at, @run.completed_at) %></strong> to complete.
</p>

<p>
  Overall the run was <%= match_rate_tag(@run.match_rate) %> successful and had 
  <strong><%= performance_gain(@run.rect_performance_gain_ratio) %></strong> performance when compared to ECF.
</p>

<p>
  The run exercised the <strong><%= @run.request_group_names.to_sentence %></strong> 
  endpoint <%= "group".pluralize(@run.request_group_names.size) %>.
</p>

<hr class="govuk-section-break govuk-section-break--l">

<% if @run.requests.none? %>
  <p>
    There were no requests for this parity check.
  </p>
<% else %>
  <% @run.lead_providers.each do |lead_provider| %>
    <%= govuk_table(classes: %w[parity-check-table]) do |table|
      table.with_caption(size: "m", text: lead_provider.name)

      table.with_head do |head|
        head.with_row do |row|
          row.with_cell(text: "Endpoint", width: "one-half")
          row.with_cell(text: "Match rate", width: "one-quater")
          row.with_cell(text: "Performance", width: "one-quater")
        end
      end

      grouped_requests(@run.requests.with_lead_provider(lead_provider)).each do |group_name, requests|
        table.with_body do |body|
          requests.each do |request|  
            body.with_row do |row|
              row.with_cell(text: request.endpoint.description)
              row.with_cell(text: match_rate_tag(request.match_rate))
              row.with_cell(text: performance_gain(request.rect_performance_gain_ratio))
            end
          end
        end
      end
    end
    %>
  <% end %>
<% end %>
