<%
  page_data(
    title: "ECTs successfully claimed",
    header: false
  )
%>

<%= govuk_panel(title_text: "ECTs successfully claimed") %>

<p class='govuk-body'>
  You claimed <%= batch.pending_induction_submissions.without_errors.count %> ECT records.
</p>

<% if batch.pending_induction_submissions.with_errors.any? %>
  <p class='govuk-body'>
    You had <%= batch.pending_induction_submissions.with_errors.count %> ECTs with errors.
  </p>

  <p class='govuk-body'>
    <%= govuk_link_to 'Download CSV with error messages included', ab_batch_claim_path(batch, format: :csv) %>.
    You'll need to fix these errors before you try again.
  </p>
<% else %>
  <p class='govuk-body'>
    You can view these records on your overview.
  </p>
<% end %>

<p class='govuk-body'>
  <%= govuk_link_to 'Go back to your overview', ab_batch_claims_path %>
</p>
