<%= form_with url: form_url, method: :post, local: true do |f| %>
  <%= f.hidden_field :year, value: year %>
  <%= f.hidden_field :page, value: page %>
  <%= f.hidden_field :q, value: q %>

  <%= f.govuk_check_boxes_fieldset :lead_provider_ids,
      legend: { text: legend_text, size: 'm' },
      hint: { text: hint_text } do %>
    <% all_lead_providers_for_period.each do |alp| %>
      <%= f.govuk_check_box :lead_provider_ids,
          alp.id.to_s,
          label: { text: alp.lead_provider.name },
          checked: currently_selected_ids.include?(alp.id.to_s) %>
    <% end %>
  <% end %>

  <div class="govuk-button-group">
    <%= f.govuk_submit("Confirm") %>
  </div>
<% end %>
