<p class="govuk-body">
  <%= appeal_notice %>
</p>

<p class="govuk-body">confirm you have written to them and told them::</p>

<%=
 govuk_list([
    "they have failed their induction",
    "they have the right to appeal",
    govuk_link_to("about the appeal process", "https://www.gov.uk/guidance/newly-qualified-teacher-nqt-induction-appeals", target: "_blank")
  ], type: :bullet)
%>


<%= form_with(model: teacher, url: confirmation_checked_ab_teacher_record_failed_outcome_path(teacher), class: "govuk-!-margin-top-9") do |f| %>
  <%= content_for(:error_summary) { f.govuk_error_summary } %>

  <%= f.govuk_check_box(:confirm_failed_outcome, "1", label: {
    text: confirm_appeal
  }) %>

  <%= f.govuk_submit "Continue", class: "govuk-!-margin-top-8" %>
<% end %>
