<h2 class="govuk-heading-m">Induction summary</h2>
<%= govuk_summary_list do |sl| %>
  <% sl.with_row do |row| %>
    <% row.with_key do %>
      <%= govuk_visually_hidden('Induction') %> Start date
    <% end %>

    <% row.with_value(text: induction.induction_start_date.to_fs(:govuk)) %>
  <% end %>

  <% sl.with_row do |row| %>
    <% row.with_key do %>
      <%= govuk_visually_hidden('Induction') %> Status
    <% end %>

    <% row.with_value { status_tag } %>
  <% end %>

  <% sl.with_row do |row| %>
    <% row.with_key do %>
      <%= govuk_visually_hidden('Induction') %> Extensions
    <% end %>

    <% row.with_value do %>
      <%= induction_extensions.formatted_number_of_terms %>
    <% end %>

    <% if render_extension_links? %>
      <%= row.with_action(text: extensions_action_text, visually_hidden_text: "extensions", href: ab_teacher_extensions_path(teacher), classes: 'govuk-link--no-visited-state') %>
    <% end %>
  <% end %>

  <% if teacher.trs_qts_awarded_on.present? %>
    <% sl.with_row do |row| %>
      <% row.with_key(text: "QTS awarded") %>

      <% row.with_value do %>
        <%= teacher.trs_qts_awarded_on.to_fs(:govuk) %>
      <% end %>
    <% end %>
  <% end %>

  <% if teacher.trs_initial_teacher_training_provider_name %>
    <% sl.with_row do |row| %>
      <% row.with_key(text: "Initial teacher training records") %>

      <% row.with_value do %>
        <%= teacher.trs_initial_teacher_training_provider_name %>
      <% end %>

      <% if render_extension_links? %>
        <% row.with_action(text: "View", visually_hidden_text: "ITT records", href: ab_teacher_initial_teacher_training_records_path(teacher), classes: 'govuk-link--no-visited-state') %>
      <% end %>
    <% end %>
  <% end %>
<% end %>
