<% if appropriate_body_mode? && failed? %>
  <p class="govuk-body">
    <%= appeal_notice %>
  </p>
<% end %>

<%= form_with(model:, url:) do |form| %>

  <%= content_for(:error_summary) { form.govuk_error_summary } %>

  <%= render Teachers::OutcomeFormFieldsComponent.new(form:, appropriate_body:) %>

  <%= render Admin::ContextFormFieldsComponent.new(form:) if admin_mode? %>

  <%= form.govuk_submit submit_text, warning: failed? %>
<% end %>
