<% page_data(
  title: "Check and authorise statement for payment",
  backlink_href: admin_finance_statement_path(@statement),
  error: @form.errors.any?
) %>

<span class="govuk-caption-l"><%= @statement.lead_provider_name %></span>
<h2 class="govuk-heading-m"><%= @statement.period %></h2>

<%= render Admin::Statements::PaymentOverviewComponent.for(statement: @statement) %>

<%= form_with(model: @form, url: admin_finance_statement_authorisations_path(@statement), method: :post, class: "govuk-!-margin-top-6") do |f| %>
  <%= content_for(:error_summary) { f.govuk_error_summary } %>

  <%= f.govuk_check_boxes_fieldset(:confirmed, multiple: false, legend: { text: "Confirm authorisation", hidden: true }) do %>
    <%= f.govuk_check_box(:confirmed, "1", multiple: false, label: {
      text: "I confirm I've completed all assurance checks and I authorise payment"
    }) %>
  <% end %>

  <%= f.govuk_submit "Authorise for payment" %>
<% end %>
