<%
  page_data(
    title: Teachers::Name.new(@teacher).full_name,
    caption: "TRN: #{@teacher.trn}",
    caption_size: 'm',
    error: false,
    backlink_href: ab_teachers_path
  )
%>

<div class="govuk-button-group">
  <%= govuk_button_link_to("Pass induction", new_ab_teacher_record_passed_outcome_path(@teacher)) %>
  <%= govuk_link_to("Fail induction", new_ab_teacher_record_failed_outcome_path(@teacher)) %>
</div>

<%= render(Teachers::InductionSummaryComponent.new(teacher: @teacher)) %>
<%= render(Teachers::CurrentInductionPeriodComponent.new(teacher: @teacher)) %>
<%= render(Teachers::PastInductionPeriodsComponent.new(teacher: @teacher)) %>
