<% page_data(
    title: "Change Lead Provider for #{@wizard.teacher_full_name}",
    error: @mentor_at_school_period.errors.present?,
    backlink_href: schools_mentor_path(@mentor_at_school_period),
) %>

<p class="govuk-body">TODO</p>


<%= form_with(model: @wizard.current_step, url: @wizard.current_step_path) do |form| %>
  <%= content_for(:error_summary) { form.govuk_error_summary } %>

  <%# TODO RADIO LIST %>
  <%= form.govuk_collection_radio_buttons(
        :lead_provider_id,
        @wizard.current_step.lead_providers_for_select,
        :id,
        :name,
        legend: {text: "Select lead provider", hidden: true},
      ) %>

  <%= form.govuk_submit 'Continue' %>
<% end %>

<p class="govuk-body">
  <%= govuk_link_to "Cancel and go back to #{@wizard.teacher_full_name}’s details", schools_mentor_path(@mentor_at_school_period) %>
</p>
