<%
  page_data(
    title: "Early career teachers (ECT)",
    error: false,
    caption: @school.name,
    caption_size: 'l'
  )
%>
<<<<<<< HEAD
<%= govuk_button_link_to(@number_of_teachers.zero? ? "Register an ECT starting at your school" : "Add an ECT", schools_register_ect_wizard_start_path) %>
<hr class="govuk-section-break--m" />
<div class="govuk-grid-row">
  <% if @number_of_teachers.zero? %>
    <div class='govuk-grid-column-two-thirds'>
      <p class="govuk-body">Your school currently has no registered early career teachers.</p>
    </div>
=======

<%= govuk_button_link_to("Register an ECT starting at your school", schools_register_ect_wizard_start_path) %>

<hr class="govuk-section-break--m"/>

<div class="govuk-grid-row">
  <% if @teachers.present? %>

    <div class='govuk-grid-column-full'>
      <% @teachers.map { |t| t.ect_at_school_periods.first }.each do |ect| %>

        <div class="govuk-summary-card">
          <div class="govuk-summary-card__title-wrapper">
            <h3 class="govuk-summary-card__title govuk-!-font-size-24">
              <strong><%= link_to_ect(ect) %></strong>
            </h3>
          </div>
          <div class="govuk-summary-card__content">
            <div class="govuk-grid-row">
              <div class='govuk-grid-column-one-half'>
                <%= govuk_summary_list(
                      borders: false,
                      rows: [
                        { key: { text: 'Status' }, value: { text: ect_status(ect) } },
                        { key: { text: 'TRN' }, value: { text: ect.trn } },
                        { key: { text: 'School start date' }, value: { text: ect.started_on.to_fs(:govuk) } },
                      ]
                    ) %>
              </div>
              <div class='govuk-grid-column-one-half'>
                <%= govuk_summary_list(
                      borders: false,
                      rows: [
                        { key: { text: 'Appropriate body' }, value: { text: ect.school_reported_appropriate_body_name } },
                        { key: { text: 'Lead provider' }, value: { text: latest_lead_provider_name(ect) } },
                        { key: { text: 'Delivery partner' }, value: { text: latest_delivery_partner_name(ect) } },
                      ]
                    ) %>
              </div>
            </div>
            <%= govuk_summary_list(
                  html_attributes: { class: "govuk-!-margin-bottom-0" },
                  borders: false,
                  rows: [
                    { key: { text: 'Mentor', classes: ['mentor-key'] }, value: { text: ect_mentor_details(ect) } },
                  ]
                ) %>
          </div>
        </div>

      <% end %>

      <%= govuk_pagination(pagy: @pagy) %>
    </div>

>>>>>>> 184fe96e (add induction and training data to the ECT cards listed for a school)
  <% else %>
    <div class='govuk-grid-column-two-thirds'>
      <%= render Shared::TopSearchComponent.new %>
      <% if @filtered_teachers.count.zero? %>
        <p class="govuk-body">There are no ECTs that match your search.</p>
      <% else %>
        <% @filtered_teachers.to_a.map { |t| t.ect_at_school_periods.first }.each do |ect| %>
          <%= govuk_summary_card(title: link_to_ect(ect)) do |card|
            card.with_summary_list(
              borders: false,
              rows: [
                { key: { text: 'Status' }, value: { text: ect_status(ect) } },
                { key: { text: 'Mentor' }, value: { text: ect_mentor_details(ect) } },
              ]
            )
            end %>
        <% end %>
      <% end %>
      <%= govuk_pagination(pagy: @pagy) %>
    </div>
<<<<<<< HEAD
=======

>>>>>>> 184fe96e (add induction and training data to the ECT cards listed for a school)
  <% end %>
</div>
