<%
  page_data(
    title: teacher_full_name(@teacher),
    backlink_href: params[:back_to_mentor] == "true" ? schools_mentor_path(params[:mentor_id]) : schools_ects_home_path,
    caption: teacher_trn(@teacher),
    caption_size: 'l',
  )
%>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

      <%= render Schools::TeacherProfileSummaryListComponent.new(@ect_at_school_period) %>

      <%= render Schools::ECTInductionDetailsComponent.new(@ect_at_school_period) %>

      <%= render Schools::ECTTrainingDetailsComponent.new(ect_at_school_period: @ect_at_school_period, training_period: @training_period) %>

      <% if @ect_at_school_period.leaving_today_or_in_future? %>
        <h2 class="govuk-heading-m"><%= "#{teacher_full_name(@teacher)} is leaving your school" %></h2>

        <p class="govuk-body">
          You’ve told us <%= teacher_full_name(@teacher) %> is leaving your school on 
          <%= @ect_at_school_period.finished_on.to_fs(:govuk) %>.
          You will not be able to view or edit <%= teacher_full_name(@teacher) %>’s details after 
          <%= @ect_at_school_period.finished_on.to_fs(:govuk) %>.
        </p>
      <% else %>
        <h2 class="govuk-heading-m">
          Tell us if <%= teacher_full_name(@teacher) %> has left or is leaving your school permanently
        </h2>

        <p class="govuk-body">
          We need to know if <%= teacher_full_name(@teacher) %> is leaving your school and not expected to return.
        </p>

        <p class="govuk-body">
          You do not need to tell us if <%= teacher_full_name(@teacher) %> is leaving but expected to return, 
          for example, if they’re taking parental leave. You should, however, tell their appropriate body and 
          training provider (if they’re on a provider-led programme).
        </p>

        <%= govuk_link_to(
              "Tell us if #{teacher_full_name(@teacher)} is leaving permanently",
              schools_ects_teacher_leaving_wizard_edit_path(@ect_at_school_period),
              no_visited_state: true
            ) %>.
      <% end %>
  </div>
</div>
