<% if ineligible_for_training? %>
  <h2 class="govuk-heading-m">ECTE mentor training details</h2>

  <% if completed_reason? %>
    <p class="govuk-body">
      <%= teacher_full_name(teacher) %> completed mentor training on <%= ineligible_date_govuk %>.
    </p>
  <% elsif started_not_completed_reason? %>
    <p class="govuk-body">Our records show that <%= teacher_full_name(teacher) %> cannot do further mentor training.</p>
    <p class="govuk-body">This might be because they’ve completed it before, or started but not completed it.</p>
    <p class="govuk-body">We’ve passed <%= teacher_full_name(teacher) %>’s details to their ECTs’ lead provider so they can access ECT training materials. Speak to the lead provider if <%= teacher_full_name(teacher) %> cannot access them.</p>
  <% end %>

<% elsif mentor_training_period.present? %>
  <h2 class="govuk-heading-m">ECTE mentor training details</h2>

  <%= govuk_summary_list do |list| %>
    <% list.with_row do |row| %>
      <% row.with_key { "Lead provider" } %>
      <% row.with_value do %>
        <% if lead_provider_name.present? %>
          <%= lead_provider_name %><%= tag.br %>
          <span class="govuk-hint">
            <%= partnership_confirmed? ? "Confirmed by #{lead_provider_name}" : "Awaiting confirmation by #{lead_provider_name}" %>
          </span>
        <% else %>
          Not available
        <% end %>
      <% end %>
      <% row.with_action(
        text: "Change",
        visually_hidden_text: "lead provider",
        href: schools_mentors_change_lead_provider_wizard_edit_path(@mentor),
        classes: "govuk-link--no-visited-state"
      ) %>
    <% end %>

   

    <% list.with_row do |row| %>
      <% row.with_key { "Delivery partner" } %>
      <% row.with_value do %>
        <% if partnership_confirmed? && delivery_partner_name.present? %>
          <%= delivery_partner_name %><%= tag.br %>
          <span class="govuk-hint">To change the delivery partner, you must contact the lead provider</span>
        <% else %>
          Yet to be reported by the lead provider
        <% end %>
      <% end %>
    <% end %>
  <% end %>
<% end %>
