<div class="govuk-summary-card">
  <div class="govuk-summary-card__title-wrapper">
    <h3 class="govuk-summary-card__title govuk-!-font-size-24">
      <strong><%= link_to_mentor %></strong>
    </h3>
  </div>
  <div class="govuk-summary-card__content">
    <div class="govuk-grid-row">
      <div class='govuk-grid-column-one-half'>
        <%= govuk_summary_list(borders: false, rows: [trn_row, assigned_ects_row]) %>
      </div>
      <div class='govuk-grid-column-one-half'>
        <% if latest_training_period.withdrawn? %>
          <p><%= lead_provider_name %> have told us that <%= mentor %>'s ECTE mentor training is paused. Contact them if you think this is an error.</p>
        <% elsif latest_training_period.deferred? %>
          <p>DEFERRED MESSAGE</p>
        <% else %>
          <%= govuk_summary_list(borders: false, rows: training_period_summary_rows) %>
        <% end %>
      </div>
    </div>
  </div>
</div>

