<% page_data(title: "Organisations") %>

<h2 class="govuk-heading-m">
  <%= govuk_link_to(
    "Appropriate bodies",
    admin_appropriate_bodies_path,
    no_visited_state: true,
    no_underline: true,
  ) %>
</h2>
<p class="govuk-body">
  Appropriate bodies are responsible for assuring the quality of the statutory
  induction of ECTs
</p>

<%= govuk_section_break(visible:true, size: "l") %>

<h2 class="govuk-heading-m">
  <%= govuk_link_to(
    "Lead providers",
    admin_lead_providers_path,
    no_visited_state: true,
    no_underline: true,
  ) %>
</h2>
<p class="govuk-body">
  Lead providers are responsible for the online learning platform used for
  training ECTs and mentors.
</p>

<%= govuk_section_break(visible:true, size: "l") %>

<h2 class="govuk-heading-m">
  <%= govuk_link_to(
    "Delivery partners",
    admin_delivery_partners_path,
    no_visited_state: true,
    no_underline: true,
  ) %>
</h2>
<p class="govuk-body">
  Delivery partners are responsible for delivering training events.
</p>

<% if Rails.application.config.enable_teaching_school_hubs %>
  <%= govuk_section_break(visible:true, size: "l") %>

  <h2 class="govuk-heading-m">
    <%= govuk_link_to(
      "Teaching school hubs",
      admin_teaching_school_hubs_path,
      no_visited_state: true,
      no_underline: true,
    ) %>
  </h2>
  <p class="govuk-body">
    Teaching school hubs are responsible for overseeing and quality-assuring ECT inductions.
  </p>
<% end %>
