<% page_data( title: 'Early career teacher programme: financial statements', 
              backlink_href: backlink_with_fallback(fallback: admin_finance_statements_path)) %>

<span class="govuk-caption-l"><%= @statement.lead_provider_name %></span>
<h2 class="govuk-heading-m"><%= @statement.period %></h2>

<%= render Admin::Statements::SelectorComponent.new(statement: @statement) %>

<% if @statement.contract.contract_type == "ecf" %>
  <%= render Admin::Statements::PaymentOverview::ECFComponent.new(statement: @statement) %>
<% else %>
  <%= render Admin::Statements::PaymentOverview::IttecfComponent.new(statement: @statement) %>
<% end %>

<%= render Admin::Statements::PaymentAuthorisationComponent.new(statement: @statement) %>

<br />
<%= render Admin::Statements::AdjustmentsComponent.new(statement: @statement) %>
