<% page_data( title: 'Early career teacher programme: financial statements', 
              backlink_href: backlink_with_fallback(fallback: admin_finance_statements_path)) %>

<span class="govuk-caption-l"><%= @statement.lead_provider_name %></span>
<h2 class="govuk-heading-m"><%= @statement.period %></h2>

<%= render Admin::Statements::SelectorComponent.new(statement: @statement) %>
<%= render Admin::Statements::PaymentOverviewComponent.for(statement: @statement) %>

<% if @statement.output_fee? %>
  <p class="govuk-body">
    <%# Move this link into the declarations summary section once that section is built. %>
    <%= govuk_link_to "Download declarations (CSV)", declarations_export_admin_finance_statement_path(@statement, format: :csv) %>
  </p>
<% end %>

<% if @statement.output_fee? %>
  <p class="govuk-body">
    <%# TODO: Move this link into the declarations summary section once that section is built. %>
    <%= govuk_link_to "Download declarations (CSV)", declarations_admin_finance_statement_path(@statement, format: :csv) %>
  </p>
<% end %>

<%= render Admin::Statements::PaymentAuthorisationComponent.new(statement: @statement) %>
<%= render Admin::Statements::UpliftFeesComponent.new(statement: @statement) %>
<%= render Admin::Statements::ClawbacksComponent.new(statement: @statement) %>

<br />
<%= render Admin::Statements::AdjustmentsComponent.new(statement: @statement) %>
<%= render Admin::Statements::ProviderTargetsComponent.new(statement: @statement) %>
<%= render Admin::Statements::GuidanceComponent.new %>
