<% page_data(
  title: "Change lead provider for #{@wizard.teacher_full_name}",
  backlink_href: schools_ect_path(@wizard.ect_at_school_period)
) %>

<p class="govuk-body">
  If your school wants to change lead provider, you should, for continuity, make
  changes at the end of the school year.
</p>

<p class="govuk-body">
  If you change <%= @wizard.teacher_full_name %>’s lead provider it means that
  their training will stop immediately. They’ll need to wait until the new lead
  provider confirms the partnership before they can continue.
</p>

<p class="govuk-body">
  Changing the lead provider might mean that <%= @wizard.teacher_full_name %>
  will have a different delivery partner. Their training might be delivered
  differently.
</p>

<p class="govuk-body">
  If you do change lead provider, we’ll let the:
</p>

<ul class="govuk-list govuk-list--bullet">
  <li>new provider know that you want to work with them</li>
  <li>old provider know they’re no longer working with the ECT</li>
</ul>

<p class="govuk-body">
  The new provider will confirm the delivery partner they’re working with.
</p>

<%= form_with model: @wizard.current_step, url: @wizard.current_step_path do |form| %>
  <%= content_for(:error_summary) { form.govuk_error_summary } %>

  <%= form.govuk_collection_radio_buttons(
        :lead_provider_id,
        @wizard.current_step.lead_providers_for_select,
        :id,
        :name,
        legend: { text: "Select the new lead provider for #{@wizard.teacher_full_name}" }
      ) %>

  <%= render "schools/shared/roles_details" %>

  <%= form.govuk_submit "Continue" %>

  <p class="govuk-body">
    <%= govuk_link_to(
          "Cancel and go back to #{@wizard.teacher_full_name}’s details",
          schools_ect_path(@wizard.ect_at_school_period),
          no_visited_state: true
        ) %>
  </p>
<% end %>
