<% page_data(title: "Migration failures", backlink_href: migration_migrations_path) %>

<% if @teacher_failures.failure_count.positive? %>
  <h3 class="govuk-heading-m">Teacher related failures (<%= @teacher_failures.failure_count %> items in <%= @teacher_failures.failures.count %> groups)</h3>
  <%= govuk_table(html_attributes: { class: "govuk-!-font-size-14" }) do |table|
    table.with_head do |head|
      head.with_row do |row|
        row.with_cell(text: "Error")
        row.with_cell(text: "Count")
      end
    end
    table.with_body do |body|
      @teacher_failures.failures.each do |err, count|
        body.with_row do |row|
          row.with_cell(text: err)
          row.with_cell do
            govuk_link_to(count.to_s, migration_teacher_failures_path(err: err))
          end
        end
      end
    end
  end %>
<% end %>

<% @failures.each do |failure_group| %>
  <% if failure_group.failure_count.positive? %>
  <h3 class="govuk-heading-m"><%= failure_group.model.to_s.humanize %> un-linked failures (<%= failure_group.failure_count %> items in <%= failure_group.failures.count %> groups)</h3>
    <%= govuk_table(html_attributes: { class: "govuk-!-font-size-14" }) do |table|
      table.with_head do |head|
        head.with_row do |row|
          row.with_cell(text: "Error")
          row.with_cell(text: "Count")
        end
      end
      table.with_body do |body|
        failure_group.failures.each do |err, count|
          body.with_row do |row|
            row.with_cell(text: err)
            row.with_cell(text: count)
          end
        end
      end
    end
    %>
  <% end %> 
<% end %>
