<% page_data(title: "Delivery partners", breadcrumbs: @breadcrumbs) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <%= form_with method: :get do |f| %>
      <%= f.govuk_text_field(
        "q",
        value: params[:q],
        label: {
          text: "Search for delivery partner",
          size: "s",
        },
        hint: {
          text: "Search by name",
        },
      ) %>

      <%= f.govuk_submit "Search" %>
    <% end %>
    <% if params[:q].present? %>
      <p class="govuk-body">
        <strong><%= @pagy.count %></strong>
        results found for "<%= params[:q] %>"
      </p>
    <% end %>

    <%= govuk_table do |table|
      table.with_head do |head|
        head.with_row { |row| row.with_cell(text: "Delivery partner") }
      end

      table.with_body do |body|
        @delivery_partners.each do |delivery_partner|
          body.with_row { |row| row.with_cell(text: delivery_partner.name) }
        end
      end
    end %>

    <%= govuk_pagination pagy: @pagy %>
  </div>
</div>
