<!DOCTYPE html>
<%= govuk_html_element do %>
  <%= render partial: "layouts/shared/head" %>

  <body class="govuk-template__body">
    <%= render partial: "layouts/shared/js_enabled" %>

    <%= govuk_skip_link %>
    <%= govuk_header(full_width_border: true, html_attributes: { class: [environment_specific_header_colour_class] }) do |header| %>
      <%= header.with_navigation_item(text: current_user.organisation_name) if current_user %>
      <%= header.with_navigation_item(text: "Sign out", href: current_user.sign_out_path) if current_user %>
    <% end %>

    <%= render Navigation::PrimaryNavigationComponent.new(
      current_path: request.fullpath,
      current_user_type: current_user&.user_type,
      inverse: true
    ) %>

    <div class="x-govuk-masthead">
      <div class="govuk-width-container">
        <%=
          environment_specific_phase_banner(
            html_attributes: { class: %w[x-govuk-phase-banner--inverse] },
            tag_html_attributes: { class: %w[x-govuk-tag--inverse] }
          )
        %>

        <div class="govuk-grid-row">
          <div class="govuk-grid-column-full">
            <%= yield(:page_header) %>

            <p class="x-govuk-masthead__description">
            Find out what data lead providers need to submit to DfE, how to keep it up to date, and when to report changes about early career teachers and their mentors.
            </p>

          </div>
        </div>
      </div>
    </div>

      <main class="govuk-main-wrapper" id="main-content" role="main">
        <div class="govuk-width-container">
          <%= yield %>
        </div>
      </main>

    <%= render partial: "layouts/shared/footer" %>
  </body>
<% end %>
