<% content_for :content do %>
  <div class="govuk-grid-row">
    <% if content_for?(:sidebar) %>
      <div class="govuk-grid-column-one-third">
        <%= yield(:sidebar) %>
      </div>
    <% end %>
    <div class="govuk-grid-column-two-thirds">
      <%= yield(:page_caption) %>
      <%= yield(:page_header) %>

      <%= yield %>
    </div>
  </div>
<% end %>

<%= render partial: "layouts/shared/page" %>
